Source: nymea-plugins-zigbee
Section: utils
Priority: options
Maintainer: nymea GmbH <developer@nymea.io>
Build-depends: debhelper (>= 0.0.0),
               libnymea-dev (>= 0.26~),
               libnymea-zigbee-dev,
               nymea-dev-tools:native,
               pkg-config,
               qtbase5-dev,
Standards-Version: 3.9.3


Package: nymea-plugin-zigbee-develco
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Develco ZigBee devices
 This package contains the nymea integration plugin for ZigBee based devices
 made by Develco.


Package: nymea-plugin-zigbee-generic
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for ZigBee Spec compliant devices
 This package contains the nymea integration plugin for ZigBee devices which
 adhere to the ZigBee Cluster Library specification and thus can be handled
 in a unified and generic manner.


Package: nymea-plugin-zigbee-generic-lights
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for ZigBee Spec compliant lighting devices
 This package contains the nymea integration plugin for ZigBee lighting devices
 which adhere to the ZigBee Cluster Library specification for lighting devices.


Package: nymea-plugin-zigbee-lumi
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for ZigBee based lumi/aqara/xiaomi devices
 This package contains the nymea integration plugin for ZigBee based devices made
 by Lumi, often also brandet as Aqara or Xiami Mii.


Package: nymea-plugin-zigbee-philipshue
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for Philips Hue devices via ZigBee
 This package contains the nymea integration plugin for Philips Hue devices.
 Please note that this plugin does not work togehter with a Hue Bridge but instead
 connects to the devices directly via ZigBee without the need of a Hue bridge.


Package: nymea-plugin-zigbee-remotes
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for various zigbee remote controls.
 This package contains the nymea integration plugin for various ZigBee based
 remote controls and/or wall switches.


Package: nymea-plugin-zigbee-tradfri
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: nymea integration plugin for ZigBee based Ikea TRADRFI devices
 This package contains the nymeaintegration plugin for ZigBee based devices by
 Ikea, known as TRADFRI. Please note that this plugin does not work together
 with a TRADFRI bridge but instead connects to the devices directly via ZigBee
 without the need of a TRADFRI bridge.


Package: nymea-plugins-zigbee
Section: libs    
Architecture: all
Depends: nymea-plugin-zigbee-develco,
         nymea-plugin-zigbee-lumi,
         nymea-plugin-zigbee-generic,
         nymea-plugin-zigbee-generic-lights,
         nymea-plugin-zigbee-philipshue,
         nymea-plugin-zigbee-remotes,
         nymea-plugin-zigbee-tradfri
Description: ZigBee integration plugins for nymea - meta package
 This package will install all ZigBee related integration plugins for nymea.
